/.idea/
/.settings/
/bin/
/build/
/.classpath
/.project
/gradle.properties
/gradle.*.properties
!/gradle.sample.properties
/src/main/resources/service.properties
/src/main/resources/dialogues/dialogues.json
/src/main/resources/dialogues/*
!/src/main/resources/dialogues/README.md
!/src/main/resources/dialogues/en/basic.wool
!/src/main/resources/dialogues/nl/basic.json
!/src/main/resources/dialogues/it/basic.json
